{% extends 'upload/upload.html' %}
{% block ia %}


<form action="{{ url_for('ia') }}" method="post" > 

    <fieldset>
      <legend>UPLOAD MARKS </legend>

      <div class="form-group">
        <label for="usn">Enter the USN </label>
        <input type="text" name="usn" class="form-control" id="usn"  placeholder="USN" required>
        
      </div>

      <div class="form-group">
        <label for="ia_no">Select IA Number</label>
        <select class="form-control" name="ia_no" id="ia_no" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
  
      <div class="form-group">
      <label for="ia_marks">Enter the IA Marks </label>
      <input type="ia_marks" name="ia_marks" class="form-control" id="ia_marks"  placeholder="IA Marks" required>
      </div>
      
    </fieldset>
    <button type="submit" id='submit' class="btn btn-primary" >Submit</button>
    </fieldset>
    <p>
    <small id="Help" class="form-text text-muted" >Submit the form to proceed.</small>
    </p>


{% endblock %}