{% extends 'upload/upload.html' %}
{% block lab %}


<form action="{{ url_for('lab') }}" method="post" > 

    <fieldset>
      <legend>UPLOAD MARKS </legend>

      <div class="form-group">
        <label for="usn">Enter the USN </label>
        <input type="text" name="usn" class="form-control" id="usn"  placeholder="USN" required>
        
      </div>

      <div class="form-group">
        <label for="lab_id">Enter the Lab ID </label>
        <input type="lab_id" name="lab_id" class="form-control" id="lab_id"  placeholder="Lab ID" required>
    </div> 

    <div class="form-group">
        <label for="lab_marks">Enter the Lab Marks </label>
        <input type="lab_marks" name="lab_marks" class="form-control" id="lab_marks"  placeholder="Lab Marks" required>
    </div> 
      
    </fieldset>
    <button type="submit" id='submit' class="btn btn-primary" >Submit</button>
    </fieldset>
    <p>
    <small id="Help" class="form-text text-muted" >Submit the form to proceed.</small>
    </p>


{% endblock %}