{% extends "navbar.html" %}

{% block form %}
<form action="{{ url_for('form') }}" method="post">
    <fieldset>
      <legend>REGISTRATION </legend>

    </div>
    <div class="form-group">
      <label for="usn">Enter your USN </label>
      <input type="text" name="usn" class="form-control" id="usn"  placeholder="USN" required>
      
    </div>

      <div class="form-group">
        <label for="fname">Enter your first name </label>
        <input type="text" name="fname" class="form-control" id="fname"  placeholder="First name" required>
           
      </div>
      <div class="form-group">
        <label for="lname">Enter your last name </label>
        <input type="text" name="lname" class="form-control" id="lname"  placeholder="Last name" required>
        
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email"  placeholder="Enter email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

    </div>
    <div class="form-group">
      <label for="phone_no">Phone Number </label>
      <input type="phone_no" name="phone_no" class="form-control" id="phone_no"  placeholder="Phone Number" required>
      
    </div>

      <div class="form-group">
        <label for="semester">Select Your Semester</label>
        <select class="form-control" name="semester" id="semester" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </div>

      <!-- <div class="form-group">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="image">
            <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
          </div>
          <div class="input-group-append">
            <span class="input-group-text" id="">Upload</span>
          </div>
        </div>
      </div>
     -->
     
      </fieldset>
      <button type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
    <p>
      <small id="emailHelp" class="form-text text-muted">Submit the form to proceed for the training process.</small>
    </p>
  </form>
{% endblock %}