<html>
  <head>
    <title>FEA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" egrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}"> 
  </head>

<body>
  {% block navbar %}{% endblock %}
</body>
      
</html> 




   <!-- <link rel='stylesheet' href="{{ url_for('static', filename='base.css') }}">
   <head2 class="video">VIDEO FEED</head2> -->
    