{% extends "navbar.html" %}
{% block live_train %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<div class="jumbotron" style="margin-top:20px;padding:20px;">    
    <p><span id="errorMsg"></span></p>  
  
    <div class="row">    
        <div class="col-lg-6" >  
            <div class="text-center">
                <h1 style="text-align:center">    
                    Live Training  
                </h1> 
            </div>
               
  
            <h4>    
                Webcam feed  
            </h4>  
            
            <p>
                <button class="btn btn-primary" id="btnCapture" style="text-align:center" onclick="capture();">Click to capture</button>    
            </p>
            <video id="video" playsinline autoplay></video>    
        </div>    
    
        <div class="col-lg-6" class="text-center">    
            <h4>    
                Captured image from Webcam    
            </h4>   
            <p>
                <input type="button" class="btn btn-primary" id="btnSave" name="btnSave" onclick="send();" value="Upload to server" />  
            </p>   
            <canvas style="border:solid 1px  rgb(121, 5, 121); background-color:rgb(19, 1, 1);" id="canvas" width="600" height="500"></canvas>    
        </div>    
    </div> 
    <p>
        <button type="button" class="btn btn-danger btn-lg" style="text-align:center" onclick="redirect();">Cancel</button>
    </p>  
  </div>
  
  
<script>
    var socket = io('http://localhost:5000/',{
  transportOptions: {
    polling: {
      extraHeaders: {
        'Access-Control-Allow-Origin': '*'
      }
    }
  }
}); 

    socket.on("connect",function() {
        console.log("Connected to the server!!")
    })    

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true,
            audio: false,  
            video: {  
                width: 600, height: 500  
      }   })
        .then(function (stream) {
            video.srcObject = stream;
            video.play();
            socket.emit()
        })
        .catch(function (err0r) {
            console.log(err0r)
            console.log("Something went wrong!");
        });
    }



  var video = document.querySelector("#video");  
 
//   const constraints = {  
//       audio: false,  
//       video: {  
//           width: 700, height: 475  
//       }  
//   };  

  function capture() {  
        var canvas = document.getElementById('canvas');  
        var context = canvas.getContext('2d');  
        context.drawImage(video, 0, 0);  
    }; 

    function send(){    
        var url =  canvas.toDataURL();
        var data = url.replace("data:image/png;base64,",'');
        socket.emit("image",data);
        console.log('Image emitted ')
    }; 

    function redirect(){
        window.location.replace("http://localhost:5000/");
    }

</script>

{% endblock %}