{% extends "base.html" %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        
        <a class="navbar-brand" href="#">
          <h3>
            FEA
        </h3></a>
        <small class="text-muted">Face Enabled Attendance System</small>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('attendance') }}">Attendance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('upload') }}">Upload</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('form') }}">Registration</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="Viz" href="#" role="button" aria-haspopup="true" aria-expanded="true">Viz</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Attendance</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Performance</a>
                <a class="dropdown-item" href="#">Subjects</a>
                <a class="dropdown-item" href="#">Assignments</a>
                <a class="dropdown-item" href="#">Labs</a>
                <a class="dropdown-item" href="#">Projects</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <!-- <body>
      <section class="banner" id="sec">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    
          <aside>
            <figure>
              <div id="avatar"></div>
              <figcaption>FEA</figcaption>
            </figure>
            <img src="{{url_for('static', filename='images/menu.svg')}}" />
            <small class="text-muted">Face Enabled Attendance System</small>
          </aside>
         <main>
              
            <img id="footer" src="{{url_for('static', filename='images/card-wave.svg')}}" /> -->
         <!-- </main>

      <nav>
        <ul >
            <li><a href="{{ url_for('base') }}">Home</a></li>
            <li><a href="{{ url_for('attendance') }} ">Attendance</a></li>
            <li><a href="{{ url_for('upload') }}">Upload</a></li>
            <li><a href="{{ url_for('form') }}">Student Registration</a></li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Login</a></li>
            
        </ul>
      </nav>  -->
      


          <div>
             {% block form %}{% endblock %}
          </div>

          <div>
            {% block attendance %}{% endblock %}
          </div>
          <div>
            {% block upload %}{% endblock %}
          </div>
          <div>
            {% block detect %}{% endblock %}
          </div>
      <!-- </section>   -->
    <!-- </body> -->


    <script>
        (function () {
            var menu = document.querySelector('ul'),
            menulink = document.querySelector('button');
            // banner = document.querySelector('body');

            menulink.addEventListener('click', function(e){
                // menulink.classList.toggle('rotate');
                menu.classList.toggle('active');
                // banner.classList.toggle('active');
                e.preventDefault();
            })
        })();

              
    </script>
  
{% endblock %}



